@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

html {
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
}
.logo {
    display: flex;
    justify-content: space-between;

    img {
        width: 520px;
    }
}

.logo img {
    filter: invert(1);
}
.sl-btn{
    position: relative;
    display: flex;
    gap: 23px;

    button{
        /* color: white; */
        font-weight: 700;
        height: 36px;
        width: 64px;
        background-color: #fdf28f ;
        border-radius: 8px;
        border-style: none;

    }
}

.main {
    background-image: url(Img&icons/architecture-1477041_1280-1200x675.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;

    .box {
        height: 100vh;
        width: 100%;
        opacity: 0.60;
        position: absolute;
        top: 0;
        background-color: black;
    }
}

.intro {
    color: white;
    position: relative;
    top: 160px;
    margin-left: 50px;

    H1 {
        display: flex;
        flex-direction: column;
        font-size: 64px;
        font-weight: 400;
        cursor: default;
    }

    h4 {
        font-weight: 400;
        cursor: default;
    }
}

.projects {
    position: relative;
    margin-left: 50px;
    top: 180px;

    button {
        border: 2px solid white;
        padding: 20px 100px;
        font-size: 16px;
        font-weight: 700;
        color: white;
        background-color: transparent;
        cursor: pointer;
        border-radius: 6px;
    }

    button:hover {

        box-shadow: 1px 1px 8px white;
    }
}

.abt {
    background-color: #1d1218;
    color: white;
    height: 8vh;
    display: flex;
    justify-content: end;
    gap: 128px;

    ul {
        display: flex;
        justify-content: end;
        gap: 128px;
        padding-right: 72px;
    }

    li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 12px;
    }

    a {
        display: flex;
        align-items: center;
        gap: 12px;
        color: white;
        text-decoration: none;
    }

    img {
        filter: invert(1);
        width: 24px;
    }
}

.main-2 {
    background-color: aliceblue;
    height: 660px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    gap: 36px;

    h1 {
        font-weight: 400;
    }

    video {
        height: 72%;
        width: auto;
    }

    img {
        height: 72%;
    }
}

.aim {
    overflow: auto;
}

.slight {
    height: inherit;
    display: flex;
    gap: 64px;
    margin-top: 72px;
    font-size: 24px;
    font-weight: 400;
    align-items: center;

    .nb {
        height: 480px;
    }

    .nb img {
        height: 100%;
    }

}

/* .slight {
    margin-top: 36px;
    padding-top: 36px;
    gap: 16px;

    .nb {
        height: 480px;
    }

    .nb img {
        height: 100%;
    }
} */

.read-more {
    margin-top: 50px;

    button {
        border: 2px solid black;
        border-radius: 6px;
        padding: 20px 100px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 6px;
        cursor: pointer;
    }

    button:hover {

        box-shadow: 1px 1px 8px black;
    }
}

.main-3 {
    background-color: #101010;
    color: white;
    height: 660px;
    padding: 50px 0px 0px 50px;
    cursor: default;

    h1 {
        font-size: 64px;
        color: rgb(208, 229, 247);
        font-weight: 400;
    }

    .h2 h2 {

        font-size: 44px;
        font-weight: 100;
    }
}

.cube {
    height: 300px;
    width: 300px;
    border: 2px solid grey;
    margin: auto;
    /* margin-top: 100px; */
    /* overflow:auto; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px;

    h2 {
        color: burlywood;
        font-weight: 400;
    }

    img {
        width: 96px;
    }

}

.cards {
    margin-top: 32px;
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;


    img {
        filter: invert(1);

    }
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: aliceblue;

}

.slide-f {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    justify-content: center;
}

.card-s {
    position: relative;
    height: 720px;
    width: 25%;
    overflow: hidden;
}

.card-s img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card-s:hover img {
    transform: scale(1.1);
}

.ct-txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ct-txt:hover {
    opacity: 1;
}

.ct {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.main-4 {
    height: 760px;
}

.bx1 {
    h1 {

        font-size: 36px;
        font-weight: 400;
    }

    h1 {
        position: relative;
        cursor: default;
    }

    h1::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 20%;
        height: 2px;
        background-color: #000;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 2s ease;
    }

    h1:hover::after {
        transform: scaleX(1);
    }
}

.ab {
    margin: 64px;

}

.bx2 {
    display: flex;
    height: 560px;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 64px;
}

.crd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 480px;
    border-radius: 16px;
    padding: 16px;
    background-color: #c9c9c94f;

    img {
        width: 90%;
        height: 70%;
        object-fit: cover;
        border-radius: 8px;
        transition: transform 0.5s ease;
    }

    h1,
    p {
        font-weight: 400;
        text-align: center;
    }

    h1 {
        position: relative;
        cursor: default;
    }

    h1::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 3s ease;
    }



}

.crd:hover h1::after {
    transform: scaleX(1);
}

.crd:hover {
    background-color: transparent;
    transition: transform 0.8s ease-in-out;
    transform: scale(1.099);

}

.bx3 {
    display: flex;
    justify-content: center;

    button {
        margin-top: 16px;
        border-radius: 6px;
        padding: 8px 36px;
        font-size: x-large;
        color: #1d1218;
        cursor: pointer;
    }

    button:hover {

        box-shadow: 1px 1px 8px rgb(0, 0, 0);
    }
}

.main-5 {
    background-image: url(Img&icons/skyline.jpg);
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;


}

.spt {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.spt-txt {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: white;

    h1,
    p {
        font-weight: 400;
        cursor: default;
        text-shadow: 4px 4px 64px white;
    }

    h1 {
        font-size: 64px;
    }

    p {
        font-size: 24px;
    }

    button {
        color: white;
        background-color: transparent;
        margin-top: 64px;
        border-color: white;
        padding: 16px 64px;
        cursor: pointer;
    }

    button:hover {
        box-shadow: 1px 1px 8px white;
    }
}

.main-6 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 10vh;
    background-color: #101010;

    a {
        text-decoration: none;
        color: white;
    }
}

.ftr3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-right: 8%;

    img {
        width: 32px;
        filter: invert(1);
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1299px) {

    .main {
        height: 85vh;

        .box {
            height: inherit;

        }
    }

    .logo {
        img {
            width: 390px;
        }
    }

    .intro {
        top: 100px;
        margin-left: 18px;

        H1 {
            font-size: 36px;
        }

        h4 {
            font-size: 12px;
        }

    }

    .projects {
        margin-left: 18px;
        top: 140px;

        button {
            padding: 10px 30px;
            font-size: 14px;
        }
    }


    .abt {
        ul {
            display: flex;
            justify-content: end;
            gap: 24px;
        }

        li {
            font-size: small;
        }

        a {
            font-size: small;
            gap: 1px;
        }

        img {
            width: 21px;
        }
    }

    .main-2 {
        height: 520px;

        h1 {
            font-weight: 400;
            font-size: larger;
        }
    }

    .aim {
        h1 {
            text-align: center;
            font-size: 42px;
        }

        p {
            font-size: 16px;
        }
    }

    .slight {
        margin-top: 36px;
        padding-top: 36px;
        gap: 16px;

        .nb {
            height: 360px;
        }

        .nb img {
            height: 100%;
        }
    }


    .read-more {
        display: flex;
        justify-content: center;
        margin-top: 35px;

        button {
            padding: 10px 50px;
            font-size: 12px;
        }

    }

    .main-3 {
        height: 620px;
        padding: 20px 20px 0px 20px;

        h1 {
            font-size: 48px;
        }

        .h2 h2 {
            font-size: 36px;
        }
    }

    .cube {
        p {
            font-size: 14px;
        }

        img {
            width: 64px;
        }

    }

    .cards {
        gap: 32px;
    }

    .card-s {
        height: 560px;
        width: 25%;
    }

    .main-4 {
        height: 660px;
    }

    .bx1 {
        h1 {
            font-size: 36px;
        }
    }

    .ab {
        margin: 48px;
    }

    .bx2 {
        height: 480px;
        gap: 48px;
    }

    .crd {
        height: auto;
        width: auto;
        padding: 12px;

        img {
            height: auto;
            width: 90%;
        }

        h1 {
            font-size: 24px;
        }
    }

    .bx3 {
        button {
            margin-top: 0px;
            padding: 6px 18px;
            font-size: 16px;
        }
    }

    .spt-txt {

        h1 {
            font-size: 48px;
        }

        p {
            font-size: 16px;
        }

        button {
            margin-top: 36px;
            padding: 12px 48px;
        }
    }

    .main-6 {
        height: 8vh;

        .ftr1 {
            font-size: small;
        }
    }

    .ftr3 {
        gap: 8px;
        padding-right: 18%;

        img {
            width: 18px;
        }
    }




}

@media only screen and (min-width: 1300px) and (max-width: 1630px) {

    .logo {
        img {
            width: 480px;
        }
    }

    .intro {
        top: 100px;
        margin-left: 35px;

        H1 {
            font-size: 48px;
        }

        h4 {
            font-size: 16px;
        }

    }

    .projects {
        margin-left: 35px;
        top: 140px;

        button {
            padding: 10px 30px;
            font-size: 14px;
        }
    }

    .main-2 {
        height: 500px;
    }



    .abt {
        ul {
            gap: 24px;
        }

        li {
            font-size: small;
        }

        a {
            font-size: small;
            gap: 1px;
        }

    }

    .aim {
        h1 {
            text-align: center;
            font-size: 52px;
        }

        p {
            font-size: 18px;
        }
    }

    .slight {
        margin-top: 36px;
        padding-top: 36px;
        gap: 16px;

        .nb {
            height: 360px;
        }

        .nb img {
            height: 100%;
        }
    }

    .read-more {
        margin-top: 35px;
        display: flex;
        justify-content: center;

        button {
            padding: 15px 60px;
            font-size: 12px;
        }
    }

    .spt-txt {

        h1 {
            font-size: 48px;
        }

        p {
            font-size: 16px;
        }

        button {
            margin-top: 36px;
            padding: 12px 48px;
        }
    }

}

@media only screen and (min-width: 900px) and (max-width: 1023px) {

    .main {
        height: 85vh;

        .box {
            height: inherit;

        }
    }

    .logo {
        img {
            width: 360px;
        }
    }

    .intro {
        top: 100px;
        margin-left: 18px;

        H1 {
            font-size: 36px;
        }

        h4 {
            font-size: 11px;
        }

    }

    .projects {
        margin-left: 18px;
        top: 140px;

        button {
            padding: 8px 26px;
            font-size: 14px;
        }
    }

    .abt {
        ul {
            gap: 24px;
        }

        li {
            font-size: small;
        }

        a {
            font-size: small;
            gap: 1px;
        }

        img {
            width: 21px;
        }
    }

    .main-2 {
        gap: 16px;
    }

    .aim {
        h1 {
            font-size: 36px;
            text-align: center;
        }

        p {
            font-size: 14px;
        }
    }

    .slight {
        margin-top: 36px;
        padding-top: 36px;
        gap: 16px;

        .nb {
            height: 480px;
        }

        .nb img {
            height: 100%;
        }
    }

    .read-more {
        margin-top: 35px;

        button {
            padding: 10px 50px;
            font-size: 12px;
        }

    }

    .main-3 {
        height: 620px;
        padding: 20px 20px 0px 20px;

        h1 {
            font-size: 52px;
        }

        .h2 h2 {
            font-size: 36px;
        }
    }

    .cube {
        p {
            font-size: 14px;
        }

        img {
            width: 48px;
        }

    }

    .cards {
        gap: 32px;
    }

    .card-s {
        height: 520px;
        width: 25%;
    }

    .main-4 {
        height: 660px;
    }

    .bx2 {
        height: 480px;
        gap: 48px;
    }

    .crd {
        height: auto;
        width: auto;
        padding: 12px;

        img {
            height: auto;
            width: 90%;
        }

        h1 {
            font-size: 24px;
        }
    }

    .bx3 {
        button {
            margin-top: 0px;
            padding: 6px 18px;
            font-size: 16px;
        }
    }

    .spt-txt {

        h1 {
            font-size: 48px;
        }

        p {
            font-size: 16px;
        }

        button {
            margin-top: 36px;
            padding: 12px 48px;
        }
    }

    .main-6 {
        height: 8vh;

        .ftr1 {
            font-size: small;
        }
    }

    .ftr3 {
        gap: 8px;
        padding-right: 18%;

        img {
            width: 18px;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 899px) {
    .logo {
        img {
            width: 320px;
        }
    }

    .main {
        height: 80vh;

        .box {
            height: inherit;

        }
    }

    .intro {
        top: 100px;
        margin-left: 18px;

        H1 {
            font-size: 30px;
        }

        h4 {
            font-size: 10px;
        }

    }

    .projects {
        margin-left: 18px;
        top: 140px;

        button {
            padding: 8px 26px;
            font-size: 14px;
        }
    }

    .abt {
        ul {
            gap: 24px;
        }

        li {
            font-size: small;
        }

        a {
            font-size: small;
            gap: 1px;
        }

        img {
            width: 21px;
        }
    }

    .main-2 {
        height: 480px;
        gap: 14px;

        video {
            height: 72%;
        }
    }

    /* .slight {
        margin-top: 36px;
        gap: 16px;

        img {
            height: 63%;
        }
    } */
    .slight {
        margin-top: 36px;
        padding-top: 48px;
        gap: 16px;

        .nb {
            height: 360px;
        }

        .nb img {
            height: 100%;
        }
    }

    .aim {
        h1 {
            font-size: 36px;
        }

        p {
            font-size: 12px;
        }
    }

    .read-more {
        margin-top: 15px;

        button {
            padding: 10px 40px;
            font-size: 12px;
        }
    }

    .main-3 {
        height: 560px;
        padding: 20px 20px 0px 20px;

        h1 {
            font-size: 48px;
        }

        .h2 h2 {
            font-size: 32px;
        }
    }

    .cube {
        overflow: hidden;

        p {
            font-size: 12px;
        }

        img {
            width: 42px;
        }

    }

    .cards {
        gap: 25px;
    }

    .card-s {
        height: 520px;
        width: 25%;
    }

    .main-4 {
        height: 560px;
    }

    .bx2 {
        height: 380px;
        gap: 48px;
    }

    .crd {
        height: auto;
        width: auto;
        padding: 12px;

        img {
            height: auto;
            width: 90%;
        }

        h1 {
            font-size: 20px;
            font-weight: 400;
        }

        p {
            font-size: smaller;
        }
    }

    .bx3 {
        button {
            margin-top: 0px;
            padding: 6px 18px;
            font-size: 16px;
        }
    }

    .spt-txt {

        h1 {
            font-size: 32px;
        }

        p {
            font-size: 14px;
        }

        button {
            margin-top: 36px;
            padding: 10px 42px;
        }
    }

    .main-5 {
        height: 45vh;
    }

    .main-6 {
        height: 8vh;

        .ftr1 {
            font-size: small;
        }
    }

    .ftr2 {
        margin: auto;
    }

    .ftr3 {
        gap: 6px;

        img {
            width: 16px;
        }
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {

    .logo {
        img {
            width: 300px;
        }
    }

    .main {
        height: 75vh;

        .box {
            height: inherit;

        }
    }

    .intro {
        top: 60px;
        margin-left: 18px;

        H1 {
            font-size: 28px;
        }

        h4 {
            font-size: 9px;
        }

    }

    .projects {
        margin-left: 18px;
        top: 90px;

        button {
            padding: 4px 20px;
            font-size: 12px;
        }
    }

    .abt {
        height: 8vh;
        gap: 1px;
        font-size: 8px;

        ul {
            gap: 18px;
            padding-right: 6px;
        }

        li {
            gap: 3px;
        }

        a {
            gap: 2px;
        }

        img {
            width: 18px;
        }
    }

    .main-2 {
        height: 420px;
        gap: 12px;

        video {
            height: 62%;
        }
    }

    /* .slight {
        margin-top: 36px;
        gap: 15px;
        
        img {
            height: 63%;
            }
            } */
    .slight {
        margin-top: 42px;
        gap: 16px;

        .nb {
            height: 260px;
        }

        .nb img {
            height: 100%;
        }
    }

    .aim {
        h1 {
            font-size: 28px;
        }

        p {
            font-size: 10px;
        }
    }

    .read-more {
        margin-top: 15px;

        button {
            padding: 10px 35px;
            font-size: 10px;
        }
    }

    .main-3 {
        height: 560px;
        padding: 20px 20px 0px 20px;

        h1 {
            font-size: 38px;
        }

        .h2 h2 {
            font-size: 28px;
        }
    }

    .cube {
        h2 {
            font-size: small;
        }

        p {
            font-size: 11px;
        }

        img {
            width: 42px;
        }

    }

    .cards {
        gap: 12px;
    }

    .card-s {
        height: 360px;
        width: 25%;
    }

    .ct {
        font-size: 16px;
    }

    .main-4 {
        height: 90%;
    }

    .bx1 {
        h1 {
            font-size: 24px
        }
    }

    .ab {
        margin: 32px;
    }

    .crd {
        height: 100%;
        width: 100%;
        padding: 12px;

        img {
            height: 100%;
            width: 80%;
        }

        h1 {
            font-size: 20px;
            font-weight: 400;
        }

        p {
            font-size: smaller;
        }
    }

    .bx2 {
        height: auto;
        flex-wrap: wrap;

        gap: 38px;
    }

    .bx3 {
        button {
            margin-top: 15px;
            padding: 6px 18px;
            font-size: 12px;
        }
    }

    .spt-txt {

        h1 {
            font-size: 28px;
        }

        p {
            font-size: 10px;
        }

        button {
            margin-top: 36px;
            padding: 8px 38px;
        }
    }

    .main-5 {
        height: 40vh;
    }

    .main-6 {
        height: 8vh;

        .ftr1 {
            font-size: small;
        }
    }

    .ftr2 {
        margin: auto;
    }

    .ftr3 {
        gap: 6px;

        img {
            width: 16px;
        }
    }

}

@media only screen and (min-width: 426px) and (max-width: 600px) {
    .logo {
        img {
            width: 300px;
        }
    }

    .main {
        height: 75vh;

        .box {
            height: inherit;

        }
    }

    .intro {
        top: 264px;
        margin-left: 18px;

        H1 {
            font-size: 32px;
        }

        h4 {
            font-size: 12px;
        }

    }

    .projects {
        margin-left: 18px;
        top: 280px;

        button {
            padding: 4px 20px;
            font-size: 12px;
        }
    }

    .abt {
        height: 8vh;
        gap: 1px;
        font-size: 6px;

        ul {
            gap: 18px;
            padding-right: 6px;
        }

        li {
            gap: 3px;
        }

        a {
            gap: 2px;
        }

        img {
            width: 12px;
        }
    }


    .main-2 {
        height: 500px;

        video {
            display: none;
        }
    }

    .slight {
        margin-top: 0px;
        gap: 16px;

        .nb {
            height: 360px;
        }

        .nb img {
            height: 100%;
        }
    }

    .aim {
        h1 {
            text-align: center;
            font-size: 28px;
        }

        p {
            font-size: 11px;
        }
    }

    .read-more {
        margin-top: 15px;
        display: flex;
        justify-content: center;

        button {
            padding: 10px 35px;
            font-size: 10px;
        }
    }

    .main-3 {
        height: 860px;
        padding: 20px 20px 0px 20px;

        h1 {
            font-size: 24px;
        }

        .h2 h2 {
            font-size: 20px;
        }
    }

    .cube {
        height: auto;

        h2 {
            font-size: small;
        }

        p {
            font-size: 11px;
        }

        img {
            width: 42px;
        }

    }

    .cards {
        height: auto;
        flex-wrap: wrap;
        gap: 12px;
    }

    .card-s {
        height: 360px;
        width: 25%;
    }

    .ct {
        font-size: 12px;
        font-weight: bold;
    }

    .main-4 {
        height: 90%;
    }

    .bx1 {
        h1 {
            font-size: 24px
        }
    }

    .ab {
        margin: 32px;
    }

    .crd {
        height: 100%;
        width: 100%;
        padding: 12px;

        img {
            height: 100%;
            width: 80%;
        }

        h1 {
            font-size: 20px;
            font-weight: 400;
        }

        p {
            font-size: smaller;
        }
    }

    .bx2 {
        height: auto;
        flex-wrap: wrap;

        gap: 38px;
    }

    .bx3 {
        button {
            margin-top: 15px;
            padding: 6px 18px;
            font-size: 12px;
        }
    }

    .main-5 {
        height: 35vh;
    }

    .spt-txt {

        h1 {
            font-size: 20px;
        }

        p {
            font-size: 7px;
        }

        button {
            font-size: 8px;
            margin-top: 30px;
            padding: 6px 32px;
        }
    }

    .main-6 {
        height: 8vh;

        .ftr1 {
            font-size: 8px;
        }
    }

    .ftr2 {
        margin: auto;

        a {
            font-size: 8px;
        }
    }

    .ftr3 {
        gap: 6px;

        img {
            width: 12px;
        }
    }
}

@media only screen and (max-width: 425px) {
    .logo {
        img {
            width: 300px;
        }
    }

    .main {
        height: 75vh;

        .box {
            height: inherit;

        }
    }

    .intro {
        top: 256px;
        margin-left: 18px;

        H1 {
            font-size: 32px;
        }

        h4 {
            font-size: 12px;
        }

    }

    .projects {
        margin-left: 18px;
        top: 260px;

        button {
            padding: 4px 20px;
            font-size: 12px;
        }
    }

    .abt {
        height: 8vh;
        gap: 1px;
        font-size: 6px;

        ul {
            gap: 18px;
            padding-right: 6px;
        }

        li {
            gap: 3px;
        }

        a {
            gap: 2px;
        }

        img {
            width: 12px;
        }
    }


    .main-2 {
        height: 500px;

        video {
            display: none;
        }
    }

    .slight {
        margin-top: 0px;
        gap: 16px;

        .nb {
            height: 320px;
        }

        .nb img {
            height: 100%;
        }
    }

    .aim {
        h1 {
            text-align: center;
            font-size: 1.3rem;
        }

        p {
            font-size: 0.69rem;
        }
    }

    .read-more {
        margin-top: 15px;
        display: flex;
        justify-content: center;

        button {
            padding: 10px 35px;
            font-size: 10px;
        }
    }

    .main-3 {
        height: 860px;
        padding: 20px 20px 0px 20px;

        h1 {
            font-size: 24px;
        }

        .h2 h2 {
            font-size: 20px;
        }
    }

    .cube {
        height: auto;

        h2 {
            font-size: small;
        }

        p {
            font-size: 11px;
        }

        img {
            width: 42px;
        }

    }

    .cards {
        height: auto;
        flex-wrap: wrap;
        gap: 12px;
    }

    .card-s {
        height: 360px;
        width: 25%;
    }

    .ct {
        font-size: 12px;
        font-weight: bold;
    }

    .main-4 {
        height: 75%;
    }

    .bx1 {
        h1 {
            font-size: 24px
        }
    }

    .ab {
        margin: 32px;
    }

    .crd {
        height: 100%;
        width: 100%;
        padding: 12px;

        img {
            height: 100%;
            width: 80%;
        }

        h1 {
            font-size: 20px;
            font-weight: 400;
        }

        p {
            font-size: smaller;
        }
    }

    .bx2 {
        height: auto;
        flex-wrap: wrap;

        gap: 38px;
    }

    .bx3 {
        button {
            margin-top: 15px;
            padding: 6px 18px;
            font-size: 12px;
        }
    }

    .main-5 {
        height: 25vh;
    }

    .spt-txt {

        h1 {
            font-size: 20px;
        }

        p {
            font-size: 0.4rem;
        }

        button {
            font-size: 8px;
            margin-top: 30px;
            padding: 6px 32px;
        }
    }

    .main-6 {
        height: 6vh;

        .ftr1 {
            font-size: 8px;
        }
    }

    .ftr2 {
        margin: auto;

        a {
            font-size: 8px;
        }
    }

    .ftr3 {
        gap: 6px;

        img {
            width: 12px;
        }
    }



}